body{
    color:darkblue;
    background-color: rgba(241, 210, 203, 0.979);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
h1{
    color: rgba(211, 16, 126, 0.626);
    font-size: 40px;
    text-align: center;
}
p{
    color: rgb(47, 233, 190);
    font-size: 40px;
    text-align: justify;
    negative: -moz-repeating-linear-gradient(left, red, yellow, green);
}
table{
    border: 4px solid black;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}